TZ=Asia/Tokyo
PUID=1000
PGID=1000

MEMORY_LIMIT=256M
UPLOAD_MAX_SIZE=16M
OPCACHE_MEM_SIZE=128
REAL_IP_FROM=0.0.0.0/32
REAL_IP_HEADER=X-Forwarded-For
LOG_IP_VAR=remote_addr

APP_KEY={{ app_key }}
APP_DEBUG=false
APP_URL=https://mail.yami.ski:8001

ANONADDY_RETURN_PATH=bounces@mail.yami.ski
ANONADDY_ADMIN_USERNAME=addy
ANONADDY_ENABLE_REGISTRATION=true
ANONADDY_DOMAIN=yami.ski
ANONADDY_ALL_DOMAINS=yami.ski
ANONADDY_HOSTNAME=mail.yami.ski
ANONADDY_DNS_RESOLVER=1.1.1.1
ANONADDY_SECRET={{ anonaddy_secret }}
ANONADDY_LIMIT=200
ANONADDY_BANDWIDTH_LIMIT=104857600
ANONADDY_NEW_ALIAS_LIMIT=10
ANONADDY_ADDITIONAL_USERNAME_LIMIT=3

MAIL_FROM_NAME=addy.io
MAIL_FROM_ADDRESS=addy@mail.yami.ski

POSTFIX_DEBUG=false
POSTFIX_SMTPD_TLS=true
POSTFIX_SMTP_TLS=true