tunnel: "{{ tunnel_uuid }}"
credentials-file: "/home/{{ ansible_user }}/.cloudflared/{{ tunnel_uuid }}.json"
origincert: "/home/{{ ansible_user }}/.cloudflared/cert.pem"

ingress:
  - hostname: yami.ski
    service: https://localhost:443
  - hostname: grafana.yami.ski
    service: http://localhost:3000
  - service: http_status:404