{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://{{ synapse_server_name }}",
            "server_name": "{{ synapse_server_name }}"
        },
        "m.identity_server": {
            "base_url": "https://vector.im"
        }
    },
    "disable_custom_urls": false,
    "disable_guests": false,
    "disable_login_language_selector": false,
    "disable_3pid_login": false,
    "brand": "Element",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1",
        "https://scalar.vector.im/api",
        "https://scalar-staging.vector.im/_matrix/integrations/v1",
        "https://scalar-staging.vector.im/api",
        "https://scalar-staging.riot.im/scalar/api"
    ],
    "default_country_code": "JP",
    "show_labs_settings": false,
    "features": {},
    "default_federate": true,
    "default_theme": "dark",
    "room_directory": {
        "servers": ["{{ synapse_server_name }}"]
    },
    "enable_presence_by_hs_url": {
        "https://matrix.org": false,
        "https://matrix-client.matrix.org": false
    },
    "setting_defaults": {
        "breadcrumbs": true
    },
    "jitsi": {
        "preferred_domain": "{{ jitsi_server_name }}"
    },
    "element_call": {
        "url": "https://call.element.io",
        "participant_limit": 8,
        "brand": "Element Call"
    },
    "map_style_url": "https://api.maptiler.com/maps/streets/style.json?key=fU3vlMsMn4Jb6dnEIFsx",
    "branding": {
        "welcome_background_url": "https://{{ minio_api_server_name }}/{{ minio_bucket_name }}/171fc7ab-e1a4-4193-a87a-8196ff19a1e4.jpg",
        "auth_header_logo_url": "https://{{ minio_api_server_name }}/{{ minio_bucket_name }}/d3795ed2-63f7-447e-ba95-4d015d40b2d0.webp",
    }
}