version: '3.7'

services:
  cryptpad:
    image: cryptpad/cryptpad:version-2024.9.1  # 特定のバージョンを指定
    container_name: cryptpad
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - CPAD_MAIN_DOMAIN=cryptpad.{{ domain }}
      - CPAD_SANDBOX_DOMAIN=cryptpad.{{ domain }}
      - CPAD_INSTALL_ONLYOFFICE=false
    ports:
      - "3333:3000"
    volumes:
      - ./data/blob:/cryptpad/blob
      - ./data/block:/cryptpad/block
      - ./data/data:/cryptpad/data
      - ./data/files:/cryptpad/datastore
      - ./customize:/cryptpad/customize
      - ./config/config.js:/cryptpad/config/config.js
      - ./onlyoffice-dist:/cryptpad/www/common/onlyoffice/dist
      - ./onlyoffice-conf:/cryptpad/onlyoffice-conf
    networks:
      - cryptpad_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  cryptpad_network:
    name: cryptpad_network
    driver: bridge