module.exports = {
    // ホスト設定
    httpUnsafeOrigin: 'https://{{ cryptpad_server_name }}',
    httpSafeOrigin: 'https://{{ cryptpad_server_name }}',
    adminEmail: 'admin@{{ domain }}',

    // セキュリティ設定
    sessionSecret: '{{ cryptpad_secret_key }}',
    filePath: './data/files',
    archivePath: './data/archive',
    pinPath: './data/pins',
    taskPath: './data/tasks',
    blockPath: './data/block',
    blobPath: './data/blob',
    blobStagingPath: './data/blobstage',
    decreePath: './data/decrees',
    logPath: './data/logs',

    // その他の設定
    maxUploadSize: 100 * 1024 * 1024,
    defaultStorageLimit: 1024 * 1024 * 1024
};