module.exports = {
    /* 基本設定 */
    httpUnsafeOrigin: 'https://{{ cryptpad_server_name }}',
    httpSafeOrigin: 'https://{{ cryptpad_server_name }}',
    httpAddress: '0.0.0.0',
    httpPort: 3000,

    /* 管理者設定 */
    adminEmail: 'admin@{{ domain }}',
    supportMailbox: 'admin@{{ domain }}',

    /* データパス設定 */
    dataPath: '/cryptpad/data',
    filePath: '/cryptpad/data/files',
    archivePath: '/cryptpad/data/archive',
    pinPath: '/cryptpad/data/pins',
    taskPath: '/cryptpad/data/tasks',
    blockPath: '/cryptpad/data/block',
    blobPath: '/cryptpad/data/blob',
    blobStagingPath: '/cryptpad/data/blobstage',
    decreePath: '/cryptpad/data/decrees',
    logPath: '/cryptpad/data/logs',

    /* セキュリティ設定 */
    sessionSecret: '{{ cryptpad_secret_key }}',
    adminKeys: [],

    /* ストレージ設定 */
    defaultStorageLimit: 1024 * 1024 * 1024, // 1GB
    maxUploadSize: 100 * 1024 * 1024, // 100MB

    /* ログ設定 */
    logToFile: true,
    logLevel: 'info',
    verbose: false,

    /* アクセス制御設定 */
    removeDonateButton: true,
    allowSubscriptions: false,
    requireAuthentication: false,
    restrictRegistration: false,
    minPasswordLength: 8,
    inactiveTime: 90 * 24 * 3600 * 1000, // 90 days

    /* パスの設定 */
    customPath: '/cryptpad/customize',
    websocketPath: '/cryptpad_websocket',
    websocketURL: 'wss://{{ cryptpad_server_name }}/cryptpad_websocket'
};