version: '3.4'

services:
  element:
    image: vectorim/element-web:latest
    container_name: element
    restart: always
    volumes:
      - ./element-config/config.json:/app/config.json
    ports:
      - "8081:80"