{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://synapse.yami.ski",
            "server_name": "synapse.yami.ski"
        },
        "m.identity_server": {
            "base_url": "https://vector.im"
        }
    },
    "disable_custom_urls": true,
    "disable_guests": true,
    "brand": "Element",
    "default_federate": true,
    "default_theme": "light",
    "room_directory": {
        "servers": [
            "synapse.yami.ski"
        ]
    },
    "privacy_policy_url": "https://hub.yami.ski/docs/privacy",
    "terms_of_service_url": "https://hub.yami.ski/docs/term"
}
