{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://{{ synapse_server_name }}",
            "server_name": "{{ synapse_server_name }}"
        },
        "m.identity_server": {
            "base_url": "https://vector.im"
        }
    },
    "disable_custom_urls": true,
    "disable_guests": true,
    "brand": "Element",
    "default_federate": true,
    "default_theme": "dark",
    "room_directory": {
        "servers": [
            "{{ synapse_server_name }}"
        ]
    },
    "privacy_policy_url": "https://hub.yami.ski/docs/privacy",
    "terms_of_service_url": "https://hub.yami.ski/docs/term"
}