version: '3.4'

services:
  impostor:
    image: aeonlucid/impostor:nightly
    container_name: impostor
    restart: unless-stopped
    ports:
      - "127.0.0.1:22023:22023/tcp"
      - "127.0.0.1:22023:22023/udp"
    volumes:
      - {{ impostor_dir }}/data/config.json:/app/config.json
      - {{ impostor_dir }}/data/plugins:/app/plugins
      - {{ impostor_dir }}/data/libraries:/app/libraries
      - {{ impostor_dir }}/logs:/app/logs
    networks:
      - impostor-net

networks:
  impostor-net:
    driver: bridge