{
  "server": {
    "publicIp": "{{ impostor_server_name }}",
    "publicPort": {{ impostor_playit_port }},
    "listenIp": "0.0.0.0",
    "listenPort": 22023,
    "httpServer": {
      "enabled": true,
      "listenIp": "0.0.0.0",
      "listenPort": 22023
    }
  },
  "anticheat": {
    "enabled": true,
    "banIpFromGame": true,
    "enableGameFlowChecks": true,
    "enableMustBeHostChecks": true
  },
  "compatibility": {
    "allowFutureGameVersions": false,
    "allowVersionMixing": false
  },
  "plugins": {
    "loadDirectory": "plugins",
    "libraryDirectory": "libraries"
  },
  "serilog": {
    "minimumLevel": "Information",
    "writeTo": [
      {
        "Name": "File",
        "Args": {
          "path": "logs/log.txt",
          "rollingInterval": "Day"
        }
      }
    ]
  }
}