body {
    background-color: #6A5DD8;
    background-image: url('/images/custom-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}