POSTGRES_USER={{ mcaptcha_postgres_user }}
POSTGRES_PASSWORD={{ mcaptcha_postgres_password }}
POSTGRES_DB={{ mcaptcha_postgres_db }}
DATABASE_URL=postgres://{{ mcaptcha_postgres_user }}:{{ mcaptcha_postgres_password }}@mcaptcha_db:5432/{{ mcaptcha_postgres_db }}