# Minecraft 1.7.10 Mods List

# Applied Energistics 2 (AE2) rv2-stable-10
https://mediafilez.forgecdn.net/files/2245/762/appliedenergistics2-rv2-stable-10.jar

# EnderCore 0.2.0.40
https://mediafilez.forgecdn.net/files/4671/288/EnderCore-1.7.10-0.2.0.40_beta.jar

# Ender IO 2.3.0.430
https://mediafilez.forgecdn.net/files/4671/445/EnderIO-1.7.10-2.3.0.430_beta.jar

# KaizPatchX 1.8.0
https://github.com/Kai-Z-JP/KaizPatchX/releases/download/v1.8.0/src1.7.10_20200822+KaizPatchX-1.8.0.jar