# templates/minecraft_docker-compose.yml.j2
version: '3'

services:
  minecraft:
    image: itzg/minecraft-server
    ports:
      - "25565:25565"
      - "127.0.0.1:25575:25575"  # RCONは内部ネットワークからのみアクセス可能
    environment:
      EULA: "TRUE"
      TYPE: FORGE
      VERSION: "{{ minecraft_version }}"
      FORGE_VERSION: "{{ forge_version }}"
      MEMORY: "{{ server_memory }}"
      ENABLE_RCON: "true"
      RCON_PASSWORD: "{{ rcon_password }}"
      RCON_PORT: 25575
      ENABLE_COMMAND_BLOCK: "false"
      ENFORCE_SECURE_PROFILE: "true"
      ENABLE_WHITELIST: "true"
      OVERRIDE_OPS: "true"
    volumes:
      - ./data:/data
    restart: unless-stopped
    tty: true
    stdin_open: true

volumes:
  minecraft-data:
    driver: local