version: '3'

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      - MINIO_ROOT_USER={{ minio_access_key }}
      - MINIO_ROOT_PASSWORD={{ minio_secret_key }}
    command: server /data
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data

networks:
  minio_network:
    driver: bridge