version: '3'

services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    restart: always
    environment:
      - MINIO_ACCESS_KEY={{ minio_access_key }}
      - MINIO_SECRET_KEY={{ minio_secret_key }}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - /opt/minio/minio-data:/data

networks:
  minio_network:
    driver: bridge