POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ lookup('file', neo_quesdon_secrets_file) | from_yaml).postgres_password }}
POSTGRES_DB=quesdon
TZ=Asia/Tokyo

REDIS_HOST=redis
REDIS_PORT=6379

WEB_URL=https://{{ neo_quesdon_server_name }}
DATABASE_URL=postgres://postgres:{{ lookup('file', neo_quesdon_secrets_file) | from_yaml).postgres_password }}@db:5432/quesdon
JWT_SECRET={{ lookup('file', neo_quesdon_secrets_file) | from_yaml).jwt_secret }}
NOTI_TOKEN={{ lookup('file', neo_quesdon_secrets_file) | from_yaml).noti_token }}
NOTI_HOST={{ domain }}
APP_LOG_LEVEL=info