POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB=quesdon
TZ=Asia/Tokyo

REDIS_HOST=redis
REDIS_PORT=6379

WEB_URL=https://{{ neo_quesdon_server_name }}
DATABASE_URL=postgres://postgres:{{ postgres_password }}@db:5432/quesdon
JWT_SECRET={{ jwt_secret }}
NOTI_TOKEN={{ noti_token }}
NOTI_HOST={{ domain }}
APP_LOG_LEVEL=info