server {
    listen 80;
    server_name {{ vikunja_server_name }};

    location / {
        proxy_pass http://localhost:3456;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
