{
    "server": "0.0.0.0",
    "server_port": {{ shadowsocks_server_port | default(8388) }},
    "local_address": "127.0.0.1",
    "local_port": {{ shadowsocks_local_port | default(1080) }},
    "password": "{{ shadowsocks_password }}",
    "timeout": {{ shadowsocks_timeout | default(300) }},
    "method": "{{ shadowsocks_method | default('aes-256-gcm') }}",
    "fast_open": {{ shadowsocks_fast_open | default(false) }},
    "reuse_port": {{ shadowsocks_reuse_port | default(true) }},
    "no_delay": {{ shadowsocks_no_delay | default(true) }},
    "mode": "{{ shadowsocks_mode | default('tcp_and_udp') }}"
}