version: '3.7'

services:
  synapse:
    image: matrixdotorg/synapse:latest
    container_name: synapse
    restart: unless-stopped
    volumes:
      - ./synapse-data:/data
      - ./well-known/matrix:/var/www/synapse/.well-known/matrix
    depends_on:
      - db
      - coturn
    environment:
      - SYNAPSE_SERVER_NAME={{ synapse_server_name }}
      - SYNAPSE_REPORT_STATS=yes
    ports:
      - '8008:8008/tcp'
      - '8448:8448/tcp'

  db:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: "{{ postgresql_user }}"
      POSTGRES_PASSWORD: "{{ postgresql_password }}"
      POSTGRES_DB: "{{ postgresql_database }}"
      POSTGRES_INITDB_ARGS: --encoding='UTF8' --lc-collate='C' --lc-ctype='C'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  coturn:
    image: coturn/coturn
    container_name: coturn
    restart: unless-stopped
    ports:
      - '3478:3478/udp'
      - '3478:3478/tcp'
      - '5349:5349/udp'
      - '5349:5349/tcp'
      - '49160-49200:49160-49200/udp'
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf
    environment:
      - TURN_USER={{ turn_user }}
      - TURN_PASSWORD={{ turn_password }}
      - DETECT_EXTERNAL_IP=yes
    command: turnserver -c /etc/coturn/turnserver.conf