{
    "m.homeserver": {                                                                                                                            │
        "base_url": "https://{{ synapse_server_name }}",                                                                                         │
        "server_name": "{{ synapse_server_name }}"                                                                                               │
    },  
}